.navbar {
  background-color: #0c1c2c;
  padding: 15px 0;
}

.logo {
  color: #4efc75;
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo:hover {
  color: #d8f3dc;
}

.logoIcon {
  font-size: 1.8rem;
}

.link {
  color: #d8f3dc !important;
  margin-left: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: #4efc75 !important;
}

.toggleBtn {
  background-color: #4efc75;
}
