.navbar {
  background-color: var(--background);
  padding: 15px 0;
}

.logo {
  color: var(--highlight);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
}

.logo:hover {
  color: var(--foreground);
}

.logoIcon {
  font-size: 1.8rem;
}

.link {
  color: var(--foreground) !important;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--highlight) !important;
}

.toggleBtn {
  background-color: var(--highlight);
}
